
.buttons-grid {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 245px auto;

}
.numbers-grid {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;

}

.operations-grid {
    display: grid;
    gap: 10px 10px;
    width: 75px;
}

#button {
    size: 200px;
}