
.buttons-grid {
    display: grid;
    gap: 10px 10px;

}
.numbers-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
}

.operations {
    display: inline-grid;
    align-items: end;
}

#button {
    size: 200px;
}