body {

}
menu {
  display: flex;
  padding: 1px 20px;
  align-items: flex-start;
  background-color: royalblue;
}
header {
  background-color: gray;
  padding: 10px 20px;
}
.buttons-grid {
  margin: 60px;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 245px auto;

}
.numbers-grid {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px;

}

.operations-grid {
  display: grid;
  gap: 10px 10px;
  width: 75px;
}

button:hover {
  background-color: black;
  color: white;
  border: none;
}